<%= tag.div class: "card flex items-center justify-between gap", id: dom_id(pending_follow_up) do %>
  <div>
    <p class="font-medium">
      Follow up with <%= pending_follow_up.invitation.contact.full_name %>
    </p>
    <p class="text-sm text-subtle">
      from <%= pending_follow_up.invitation.event.name %>
    </p>
    <p class="text-sm text-subtle mbs-2">
      <span class="text-red-400">Due</span> <%= time_ago_in_words(pending_follow_up.due_at) %> ago
    </p>
  </div>

  <%# This button takes the user directly to the form to log their interaction %>
  <%= link_to "Log Follow-Up", new_follow_up_task_interaction_log_path(pending_follow_up), class: "btn btn--primary", data: { turbo_frame: "modal" } %>
<% end %>