<% content_for :title, "Dashboard" %>

<% content_for :page_header do %>
  <h2 class="font-semibold">Dashboard</h2>
<% end %>

<% content_for :header_action_buttons do %>
  <div class="show@md">
    <div class="flex gap items-center">
      <%= link_to "New contact", new_contact_path,
                    class: "btn",
                    data: { turbo_frame: "modal" } %>
      
      <%= link_to "New event", new_event_path,
                    class: "btn",
                    data: { turbo_frame: "modal" } %>
    </div>
  </div>
<% end %>

<div class="p-4">

  <div class="mbe-8">
    <div class="flex items-center justify-between mbe-4 hide@md">
      <h2 class="text-2xl font-semibold mbe-2">Pending Follow-Ups</h2>

      <div class="flex items-center gap">
        <%= link_to "New contact", new_contact_path,
                    class: "btn",
                    data: { turbo_frame: "modal" } %>
      
        <%= link_to "New event", new_event_path,
                      class: "btn",
                      data: { turbo_frame: "modal" } %>
      </div>
    </div>

    <div id="dashboard_pending_follow_ups" class="grid grid-cols-1 grid-cols-2@sm grid-cols-2@md grid-cols-3@lg gap-4 mbe-4">
      <%= render partial: "dashboard/pending_follow_up", collection: @pending_follow_ups, as: :pending_follow_up %>

      <% if @pending_follow_ups.empty? %>
        <div class="card text-center p-5">
          <p class="text-subtle">You're all caught up! No pending follow-ups.</p>
        </div>
      <% end %>
    </div>

    <%= link_to follow_up_tasks_path, class: "btn", data: { turbo_frame: "modal" } do %>
      View all pending Follow-Ups
      <span class="text-subtle">→</span>
    <% end %>
  </div>

  <div class="p-4">

    <h2 class="text-2xl font-semibold mbe-2">Upcoming Events</h2>

    <div id="dashboard_upcoming_events" class="grid grid-cols-1 grid-cols-2@sm grid-cols-2@md grid-cols-3@lg gap-4 gap mbe-4">
      <%= render partial: "dashboard/upcoming_event", collection: @upcoming_events, as: :upcoming_event %>

      <% if @upcoming_events.empty? %>
        <div class="card text-center p-5">
          <p class="text-subtle">No upcoming events. Why not create one?</p>
        </div>
      <% end %>
    </div>

    <%= link_to events_path(q: { starts_at_gteq: Time.current }), class: "btn" do %>
      View all upcoming events
      <span class="text-subtle">→</span>
    <% end %>
  </div>
</div>