<h1>Activity Log</h1>

<div id="sessions">
  <% @user_activities.each do |activity| %>
    <div id="<%= dom_id activity %>">
      <p>
        <strong>User Agent:</strong>
        <%= activity.user_agent %>
      </p>

      <p>
        <strong>Action:</strong>
        <%= activity.action %>
      </p>

      <p>
        <strong>Ip Address:</strong>
        <%= activity.ip_address %>
      </p>

      <p>
        <strong>Created at:</strong>
        <%= activity.created_at %>
      </p>
    </div>
  <% end %>
</div>

<br>

<div>
  <%= link_to "Back", root_path %>
</div>
