<% content_for :title, "Log Follow-Up" %>

<%= render "shared/modal" do %>
  <%= turbo_frame_tag "modal" do %>
    <div data-action="turbo:submit-end->modal#submitEnd">
      <h1 class="text-2xl font-semibold mbe-4">
        Log Follow-Up with <%= link_to @interaction_log.contact.full_name, contact_path(@interaction_log.contact.id), data: { turbo_frame: "_top" }, class: "text-link" %>
      </h1>

      <div class="border rounded-md p-4 mbe-6 bg-main">
        <h3 class="font-semibold mbe-2">Context for your outreach:</h3>
        <div class="text-sm text-subtle flex flex-col gap">
          <p><strong>How you met:</strong> <%= @interaction_log.contact.how_we_met %></p>
          <% if @follow_up_task.invitation.notes.present? %>
            <p><strong>Notes from the event:</strong> <%= @follow_up_task.invitation.notes %></p>
          <% end %>
        </div>
      </div>

      <%= form_with(model: [@follow_up_task, @interaction_log]) do |form| %>
        <div class="flex flex-col items-start gap-half mbe-4">
          <%= form.label :note, "How did it go?", class: "text-lg font-semibold" %>
          <%= form.text_area :note, rows: 5, class: "input i-full", placeholder: "e.g., 'Called them, had a great chat...'" %>
        </div>
        <div class="flex justify-end gap">
          <button type="button" class="btn" data-action="click->modal#close">Cancel</button>
          <%= form.submit "Save Log and Complete Task", class: "btn btn--primary" %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>