<div class="flex items-center gap-4">
    <%= link_to events_path(date: @date - 1.month), class: "btn" do %>
      <span class="icon icon--chevron-left" aria-hidden="true"></span>
    <% end %>

    <span><%= link_to "Today", events_path, class: "btn" %></span>

    <%= link_to events_path(date: @date + 1.month), class: "btn" do %>
      <span class="icon icon--chevron-right" aria-hidden="true"></span>
    <% end %>
</div>

<%= @date.strftime('%B %Y') %>

<div id="events" class="grid grid-cols-2 grid-cols-2@md grid-cols-7@lg gap-4">
  <% Date::ABBR_DAYNAMES.rotate.each do |weekday| %>
    <div>
      <%= weekday %>
    </div>
  <% end %>
  <% month_offset(date).times do %>
    <div></div>
  <% end %>
<% date.all_month.each do |day| %>
  <div class="p-2 rounded-md border min-h-24 <%= today_class(day) %>">
    <%= yield day %>
  </div>
<% end %>
</div>