<% content_for :title, "Events" %>
<% content_for :header_action_buttons do %>
  <h2 class="font-semibold text-lgl">Personal Events</h2>
  
  <%= link_to "New event", new_event_path,
                class: "btn btn--primary",
                data: { turbo_frame: "modal" } %>
<% end %>

<div id="events-page" class="flex flex-col p-4 i-full">
  <div class="flex items-center justify-between mbe-4 hide@md">
    <h1 class="font-semibold text-2xl">Events</h1>
    <%= link_to "New Event", new_event_path, class: "btn btn--primary text-md", data: { turbo_frame: "modal" } %>
  </div>

  <div class="flex items-center justify-between border-main">
    <div class="flex items-center">
      <%= link_to "Calendar", events_path(params.permit(:date)),
                  class: "p-4 #{params[:view] != 'agenda' ? 'border-b-2 border-primary' : 'text-subtle'}" %>
      <%= link_to "Agenda", events_path(view: 'agenda'),
                  class: "p-4 #{params[:view] == 'agenda' ? 'border-b-2 border-primary' : 'text-subtle'}" %>
    </div>
  </div>

  <%= turbo_frame_tag "event_view" do %>
    <% if params[:view] == 'agenda' %>
      <%= render 'events/agenda' %>
    <% else %>
      <%= render 'events/calendar' %>
    <% end %>
  <% end %>
</div>