<% content_for :title, "Events" %>
<% content_for :header_action_buttons do %>
  <h2 class="font-semibold">Personal Events</h2>
  
  <%= link_to "New event", new_event_path,
                class: "btn btn--primary",
                data: { turbo_frame: "modal" } %>
<% end %>

<div id="events-page" class="flex flex-col p-4 i-full">
  <div class="flex items-center justify-between mbe-4 hide@md">
    <h1 class="font-semibold text-2xl">Events</h1>
    <%= link_to "New Event", new_event_path, class: "btn btn--primary text-md", data: { turbo_frame: "modal" } %>
  </div>
  
  <nav class="tabs__list mbe-4" aria-label="Events list and calendar" style="max-inline-size: 500px">
    <%# The Events list tab is "current" if the view is anything other than 'calendar' %>
    <%= link_to "Events list",
                events_path(view: 'events-list', q: params.permit(q: [:name_cont, :starts_at_gteq, :starts_at_lteq, :invited_contacts_id_eq])),
                class: "btn tabs__button",
                **(params[:view] != 'calendar' ? { aria: { current: "page" } } : {}) %>

    <%# The Calendar tab is "current" only if the view is 'calendar' %>
    <%= link_to "Calendar",
                events_path(view: 'calendar'),
                class: "btn tabs__button",
                **(params[:view] == 'calendar' ? { aria: { current: "page" } } : {}) %>
  </nav>

  <%= turbo_frame_tag "event_view" do %>
  <% if params[:view] == 'calendar' %>
    <%= render 'events/calendar' %>
  <% else %>
    <%= render 'events/events-list' %>
  <% end %>
<% end %>
</div>