<%= form_with(model: invitation, data: { controller: "autosubmit" }) do |form| %>
  <div class="flex flex-col gap">
    <div class="flex flex-col gap-half">
      <%= form.label :status, class: "font-medium leading-none" %>
      <%= form.select :status,
                      Invitation.statuses.keys.map { |s| [s.humanize, s] },
                      {},
                      { class: "input cursor-pointer" } %>
    </div>
    <div class="flex flex-col gap-half">
      <%= form.label :notes, "Notes", class: "font-medium" %>
      <%= form.text_area :notes, rows: 10, placeholder: "Add notes (e.g., 'Switched off', 'Out of town')", class: "input font-medium" %>
    </div>
    <div class="flex justify-end gap">
      <button type="button" class="btn" data-action="click->modal#close">Cancel</button>
      <%= form.submit "Save Changes", class: "btn btn--primary" %>
    </div>
  </div>
<% end %>