<%= form_with(model: [event, invitation], class: "flex flex-col items-start gap") do |form| %>

  <% if invitation.errors.any? %>
    <div class="text-negative text-sm">
      <%# Simplified error display %>
      <%= invitation.errors.full_messages.to_sentence %>
    </div>
  <% end %>

  <div class="flex flex-col items-start gap-half i-full">
    <%= form.label :contact_ids, "Select contacts to invite", class: "text-sm font-medium" %>
    <%= form.collection_select :contact_ids,
                                @available_contacts,
                                :id,
                                :full_name,
                                {},
                                { class: "i-full", multiple: true, data: { controller: "combobox" } }  %>
  </div>

  <div class="self-start">
    <%= form.submit "Add to Guest List", class: "btn btn--primary" %>
  </div>
<% end %>