<%= search_form_for @invitations_search, url: event_path(@event) do |f| %>
    <div class="grid grid-cols-1 grid-cols-2@md gap-4 mbe-4">
        
        <%# --- Search by Contact Name/Email --- %>
        <div>
            <%#= f.label :contact_first_name_or_contact_last_name_or_contact_email_cont, "Search by Contact", class: "font-medium" %>
            <%= f.search_field :contact_first_name_or_contact_last_name_or_contact_email_cont,
                                placeholder: "Search by contact's name or email...",
                                class: "input i-full mbs-1" %>
        </div>

        <%# --- Filter by Status --- %>
        <div>
            <%#= f.label :status_eq, "Filter by Status", class: "font-medium" %>
            <%# Creates a dropdown from your Invitation enum %>
            <%= f.select :status_eq,
               Invitation.statuses.map { |name, value| [name.humanize, value] },
               { include_blank: 'Filter by invitation status' },
               { class: "i-full mbs-1", data: { controller: "combobox" } } %>
        </div>

    </div>

    <%# --- Form Actions --- %>
    <div class="flex items-center gap mbe-4">
        <%= f.submit "Search", class: "btn btn--primary" %>
        <%= link_to "Reset", event_path(@event), class: "btn" if params.has_key?(:q) %>
    </div>
<% end %>