<%= form_with(model: contact, html: { contents: true }) do |form| %>
  <% if contact.errors.any? %>
    <div class="alert alert--negative flex flex-col gap-half mbe-4" role="alert">
      <h2 class="font-medium leading-none"><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul class="mis-3" style="list-style: disc">
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col items-start gap-half mbe-4">
    <%= form.label :first_name, class: "font-medium leading-none" %>
    <%= form.text_field :first_name, class: "input" %>
  </div>

  <div class="flex flex-col items-start gap-half mbe-4">
    <%= form.label :last_name, class: "font-medium leading-none" %>
    <%= form.text_field :last_name, class: "input" %>
  </div>

  <div class="flex flex-col items-start gap-half mbe-4">
    <%= form.label :email, class: "font-medium leading-none" %>
    <%= form.text_field :email, class: "input" %>
  </div>

  <div class="flex flex-col items-start gap-half mbe-4">
    <%= form.label :phone_number, class: "font-medium leading-none" %>
    <%= form.text_field :phone_number, class: "input" %>
  </div>

  <div class="flex flex-col items-start gap-half mbe-4">
    <%= form.label :how_we_met, class: "font-medium leading-none" %>
    <%= form.text_area :how_we_met, class: "input" %>
  </div>

  <div class="inline-flex items-center mbs-2 mie-1 i-full">
    <%= form.submit class: "btn btn--primary i-full" %>
  </div>
<% end %>
