<% content_for :title, "Contacts" %>
<% content_for :header_action_buttons do %>
  <h2 class="font-semibold text-lgl">Personal Contacts</h2>
  
  <%= link_to "New contact", new_contact_path,
                class: "btn btn--primary",
                data: { turbo_frame: "modal" } %>

  <%#= link_to "Documentation", "", class: "btn" %>
<% end %>

<%# <div class="i-full p-4 mi-auto" style="max-width: 90rem;"> %>
<div class="flex flex-col p-4 i-full">
  <div class="flex items-center justify-between mbe-4 hide@md">
    <h1 class="font-semibold text-2xl">Contacts</h1>

    <%= link_to "New Contact", new_contact_path,
                class: "btn btn--primary text-md",
                data: { turbo_frame: "modal" } %>
  </div>

  <%= search_form_for @search, class: "flex items-center justify-between gap mbe-4" do |form| %>
    <div class="flex items-center grow gap">
      <%= form.search_field :first_name_or_last_name_or_email_cont, placeholder: "Filter contacts...", autocomplete: "off", class: "input", style: "max-inline-size: 25vw" %>
      <%#= form.select :status_eq, %w(backlog todo in_progress done canceled), { include_blank: "Status" }, { class: "input", style: "--input-inline-size: 85px" } %>
      <%#= form.select :priority_eq, %w(low medium high), { include_blank: "Priority" }, { class: "input", style: "--input-inline-size: 85px" } %>
      <%= link_to "Reset", contacts_path, class: "btn show@md" if params.has_key?(:q) %>
    </div>

    <%= form.submit "Search", class: "btn show@sm" %>
  <% end %>

  <%= turbo_frame_tag :contacts_table do %>
    <div class="relative i-full overflow-x-auto border rounded-lg mbe-4">
      <table class="table" data-controller="check-all">
        <thead>
          <tr>
            <th><%= check_box_tag :check_all, class: "input", data: { action: "check-all#check", check_all_target: "dependee" } %></th>
            <th><%= sort_link(@search, :first_name, class: "flex items-center") %></th>
            <th><%= sort_link(@search, :last_name, class: "flex items-center") %></th>
            <th><%= sort_link(@search, :email, class: "flex items-center") %></th>
            <th><%= sort_link(@search, :phone_number, class: "flex items-center") %></th>
            <th><%= sort_link(@search, :how_we_met, class: "flex items-center") %></th>
            <th style="min-inline-size: 3rem"></th>
          </tr>
        </thead>
        <tbody id="contacts">
          <% if @contacts.empty? %>
            <tr><td colspan="6" class="text-center p-8">No Results.</td></tr>
          <% else %>
            <%= render @contacts %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="flex items-center">
      <div class="text-sm text-subtle show@md">Total of <%= @pagy.count %> record(s).</div>
      <div class="flex items-center mis-auto justify-end" style="column-gap: 1rem">
        <%= form_with url: pagy_url_for(@pagy, 1), class: "flex items-center gap show@md", method: :get, data: { controller: "form", action: "change->form#submit" } do |form| %>
          <%= form.label :limit, "Rows per page", class: "text-sm font-medium" %>
          <%= form.select :limit, [10, 20, 30, 40, 50], { selected: @pagy.limit }, { class: "input", style: "--input-inline-size: 70px" } %>
        <% end %>
        <div class="text-sm font-medium"><%= "Page #{@pagy.page} of #{@pagy.pages}" %></div>
        <nav class="flex items-center gap shrink-0" style="--btn-padding: .5rem;" aria-label="Pagination">
          <%= link_to pagy_url_for(@pagy, 1), class: "btn", aria: { disabled: @pagy.prev.nil? }.compact_blank do %>
            <span class="icon icon--chevrons-left" aria-hidden="true"></span>
            <span class="sr-only">Go to first page</span>
          <% end %>
          <%= link_to pagy_url_for(@pagy, @pagy.prev || @pagy.page), class: "btn", aria: { disabled: @pagy.prev.nil? }.compact_blank do %>
            <span class="icon icon--chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Go to previous page</span>
          <% end %>
          <%= link_to pagy_url_for(@pagy, @pagy.next || @pagy.page), class: "btn", aria: { disabled: @pagy.next.nil? }.compact_blank do %>
            <span class="icon icon--chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Go to next page</span>
          <% end %>
          <%= link_to pagy_url_for(@pagy, @pagy.last), class: "btn", aria: { disabled: @pagy.next.nil? }.compact_blank do %>
            <span class="icon icon--chevrons-right" aria-hidden="true"></span>
            <span class="sr-only">Go to last page</span>
          <% end %>
        </nav>
      </div>
    </div>
  <% end %>
</div>
