<%= tag.div id: dom_id(follow_up_task), class: "flex items-center justify-between gap border-be border-main pb-4" do %>

  <%# --- Left Side: The Actionable Information --- %>
  <div class="flex-col">
    <%= link_to new_follow_up_task_interaction_log_path(follow_up_task),
                class: "font-semibold text-primary hover:text-link",
                data: { turbo_frame: "modal" } do %>
      Follow up with <%= follow_up_task.invitation.contact.full_name %>
    <% end %>
    <p class="text-sm text-subtle">
      from the event: <%= link_to follow_up_task.invitation.event.name, follow_up_task.invitation.event, class: "text-link", data: { turbo_frame: "_top" } %>
    </p>
  </div>

  <%# --- Right Side: The Due Date Information --- %>
  <div class="text-end shrink-0">
    <p class="text-sm font-medium text-red-400">Due</p>
    <p class="text-sm text-subtle"><%= time_ago_in_words(follow_up_task.due_at) %> ago</p>
  </div>

<% end %>
